.statistics {
  width: calc(100% / 4);

  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 15px;

  text-align: center;
  font-size: 20px;

  background-color: #fafcffee;

  overflow: hidden;
  min-width: min-content;
}

.title {
}

.stat-list {
  margin-top: 25px;
  display: flex;
}

.item {
  padding: 10px;
  flex-grow: 1;
}

.label {
  display: block;
}

.percentage {
}
